.image-background{
    background-image:linear-gradient(to bottom,#2bb555,#79c9ad);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.icons{
    padding:13px;
    font-size:82px;
    color:#ffffff;
    font-weight:600;
}

.image-icons{
    padding:10px;
    font-size:60px;
    color:blue;
    font-weight:600;
}

.image-icons1{
    padding:10px;
    font-size:60px;
    color:green;
    font-weight:600;
}

.link{
    text-decoration:none;
}